.firstWrapper{
    height: 100vh;
    background: rgba(255, 255, 255, 0.445);
}

.secondWrapper{
    height: 100vh;
    background: rgba(255, 255, 255, 0.445);
}

.side-nav{
    height: 100vh;
    border-right: 2px solid grey;
    position: sticky;
    top: 0px;

}

.white-space{
    height: 1500px;
    background: rgb(0, 81, 255);
}

.sticky{
    height: 500px;
    width: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background: rgb(231, 255, 231);
}



/* data-aos="fade-in"
data-aos-delay="300"
data-aos-duration="500" */